// Live article
.timeline {
    &__title {
        font-weight: bold;
        color: #333;
        font-size: 14px;
    }
    &__event {
        padding: 8px;
        background: #F0F0F0;
        border-top: 1px solid $brand-primary;
    }
    &-wrap {
        padding-left: 20px;
        position: relative;
        &::before {
            display: block;
            content: "";
            position: absolute;
            left: 8px;
            top: 7px;
            bottom: 7px;
            background: #555;
            width: 1px;
        }
        .timeline__event {
            position: relative;
            margin-bottom: 16px;
            background: none;
            border-top: none;
            padding: 0;
            &::before {
                display: block;
                content: "";
                position: absolute;
                left: -15px;
                top: 2px;
                background: #555;
                width: 7px;
                height: 7px;
                border-radius: 50%;
            }
        }
        .timeline__title {
            font-size: 12px;
            margin-bottom: 8px;
        }
        .timeline__content {
            color: #555;
            font-size: 12px;
        }
    }
}

// Question Answer article
.interview {
    &__guess {
        &+.interview__guess {
            margin-top: 16px;
        }
    }
    &__avatar {
        border-radius: 50%;
        margin-bottom: 8px;
        overflow: hidden;
    }
    &__name {
        font-weight: bold;
        font-size: 14px;
        text-align: center;
    }
    &__question,
    &__answer {
        margin-left: 48px;
        position: relative;
        padding-top: 6px;
    }
    &__question {
        margin-bottom: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid #ddd;
        &::after {
            content: '';
            background: url(../img/sprites.svg) no-repeat;
            background-position: 0px -240px;
            width: 32px;
            height: 32px;
            display: block;
            position: absolute;
            left: -42px;
            top: 0;
        }
        .interview__text {
            font-style: italic;
        }
    }
    &__answer {
        &::after {
            content: '';
            background: url(../img/sprites.svg) no-repeat;
            background-position: 0px -282px;
            width: 32px;
            height: 32px;
            display: block;
            position: absolute;
            left: -42px;
            top: 0;
        }
    }
    &-listing {
        margin-bottom: 16px;
        >li {
            background: #f0f0f0;
            padding: 8px;
            &+li {
                margin-top: 16px;
            }
        }
        .interview__reader,
        .interview__guess {
            font-weight: bold;
        }
    }
}