/* ====================================
   Customize breadcrumbs
   ==================================== */

.breadcrumb {
    float: left;
    margin-right: 80px;
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: $breadcrumb-bg;
    border-radius: $border-radius-base;

    >li {
        text-transform: none;
        display: inline-block;
        font-size: 14px;
        font-weight: normal;

        +li:before {
            // [converter] Workaround for https://github.com/sass/libsass/issues/1115
            $nbsp: "\00a0";
            content: "#{$breadcrumb-separator}"; // Unicode space added since inline-block means non-collapsing white-space
            padding: 0 8px;
            color: black;
            font-weight: normal;
        }
    }

    &-wrap {
        @include clearfix;

        .box--event {
            padding-top: 13px;
        }
    }
}

.breadcrumbs {
    margin-bottom: 10px;
    position: relative;
    text-transform: uppercase;
    font-weight: normal;

    .cate {
        font-size: 20px;
        display: inline-block;

        a {
            color: $brand-primary;

            &:hover {
                color: #777;
            }
        }

        &+.cate {
            &::before {
                content: '/';
                display: inline;
                padding: 0 8px;
                color: #111;
            }

            &:last-child {
                a {
                    color: black;

                    &:hover {
                        color: $brand-primary;
                    }
                }
            }
        }
    }

    .subcate {
        display: inline-block;
        font-size: 14px;
        margin-left: 10px;

        &::before {
            content: "/";
            display: inline-block;
            opacity: 0.8;
            color: #000000;
            padding-right: 10px;
        }

        a {
            opacity: 0.8;
            color: #000000;
            line-height: 24px;
            transition: all 0.2s linear;

            &:hover {
                opacity: 1;
                color: $brand-primary;
            }
        }
    }
}