/* sprites style */

[class^="sprite-"] {
    display: inline-block;
    background: url(../img/sprites.svg?v=1.1) no-repeat;
    cursor: pointer;
    vertical-align: middle;
}

.sprite {
    &-chart {
        width: 15px;
        height: 14px;
        background-position: -400px 0;
    }

    &-search {
        width: 14px;
        height: 15px;
        background-position: -100px 0px;

        &:hover {
            background-position-y: -100px;
        }
    }

    &-home {
        width: 14px;
        height: 14px;
        background-position: 0px 0px;

        &:hover {
            background-position-y: -100px;
        }
    }

    &-clock {
        width: 10px;
        height: 10px;
        background-position: -300px 0;
    }

    &-rss {
        width: 9px;
        height: 9px;
        background-position: -200px 0;
    }

    &-button-facebook {
        width: 32px;
        height: 32px;
        background-position-y: -200px;

        &:hover {
            background-position-y: -300px;
        }
    }

    &-button-zalo {
        width: 32px;
        height: 32px;
        background-position: -100px -200px;

        &:hover {
            background-position-y: -300px;
        }
    }

    &-button-envelope {
        width: 32px;
        height: 32px;
        background-position: -200px -200px;

        &:hover {
            background-position-y: -300px;
        }
    }

    &-button-print {
        width: 32px;
        height: 32px;
        background-position: -300px -200px;

        &:hover {
            background-position-y: -300px;
        }
    }

    &-video {
        width: 16px;
        height: 10px;
        background-position: -500px 0px;
    }

    &-photo {
        width: 14px;
        height: 11px;
        background-position: -600px 0px;
    }

    &-audio {
        width: 12px;
        height: 12px;
        background-position: -100px -150px;
    }
}